.highballuos-container{
    position: absolute;
    z-index: 999;
    pointer-events: none;
}

.highballuos-btn{
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0px;
    bottom: 0px;
    border-radius: 50%;
    z-index: 9999;
    pointer-events: all;
}

.highballuos-btn:hover{
    outline: none;
    border-color: #9ecaed;
    border: 1px solid #ffffff;
    box-shadow: 0 0 10px #9ecaed;
}